<nav class="nav">
    <div class="leftnav">
    <a href="/"><h1>CALCI</h1></a>
    </div>

    <div class="rightnav">
    <a href="/calculator"><h4>calculator</h4></a>
    <a href="/bmicalculator" class="rrn"><h4>bmicalculator</h4></a>
    </div>
</nav>