<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
    
    <div class="ind">
        <button><a href="/calculator">CALCULATOR</a></button>
        <button><a href="/bmicalculator">BMICALCULATOR</a></button>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>

</html>